.main {
   grid-column: main-start / main-end;
   grid-row: rowOne-start / rowTwo-end;
   padding: 1.6rem;
   position: relative;
   color: $color-secondary-dark;

   &.home {
      grid-column: 1/-1;
   }

   @media only screen and (max-width:$bp-big) {
      grid-column: 1/-1;
   }

   @media only screen and (max-width:$bp-small-extra) {
      flex-direction: column;
      align-items: start;
      gap: .5rem;
   }

   &-heading {
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width:$bp-small-extra) {

         align-items: end;

      }

      &_intro {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 1rem;
         margin-right: auto;

         @media only screen and (max-width:$bp-small) {
            gap: .5rem;
         }

         @media only screen and (max-width:$bp-smaller) {
            flex-direction: column;
            align-items: start;
            gap: .5rem;
         }

         .main-heading_logo {
            width: 4rem;
            height: 4rem;
            margin-right: .1rem;
         }

         .main-welcome {
            font-size: 2rem;

            @media only screen and (max-width:$bp-big) {
               font-size: 1.8rem;
            }

            @media only screen and (max-width:$bp-big) {
               font-size: 1.8rem;
            }

            @media only screen and (max-width:$bp-small-extra) {
               font-size: 1.6rem;
            }
         }
      }

      &_left {
         display: flex;
         align-items: center;
         // gap: 1rem;

         @media only screen and (max-width:$bp-small-extra) {

            .hero-btn-dark {
               margin-right: .5rem;
               font-size: 1.16rem;
               // padding: 0.6rem;
            }
         }

         .main-heading-profile--image {
            width: 4rem;
            height: 4rem;
            border-radius: 10px;
            border: 3px solid $color-primary;

            @media only screen and (max-width:$bp-small) {
               border: 2px solid $color-primary;
            }
         }

      }
   }
}