body.home {
   // padding: 5rem 2rem;

   .home-container {
      // width: 120rem;
      position: relative;

      .section-hero {
         background-color: $color-primary-50;
         padding: 5rem 3rem;
         position: relative;

         // display: grid;
         // grid-template-rows: 85vh;
         // padding: 6rem 4rem;


         // @media only screen and (max-width:$bp-big) {
         //    grid-template-rows: 80vh;
         // }


         .hero {
            padding: 0 3rem;
            position: relative;
            height: 94vh;
            max-width: 120rem;
            margin: 0 auto;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            align-items: center;
            justify-content: center;

            background-image: linear-gradient(to right, rgba($color-primary-800, .9), rgba($color-primary-900, .9)), url(../img/home.jpeg);
            background-size: cover;
            background-position: center;
            border-radius: 25px;


            // @media only screen and (max-width:$bp-big) {
            //    margin-top: 3rem;
            // }

            &-text {
               text-align: left;
               padding: 2rem;
               padding-left: 3rem;

               // @media only screen and (max-width:$bp-big) {
               //    grid-row: 1/2;
               //    text-align: center;
               // }

               &-main {
                  font-size: 4.5rem;
                  line-height: 1.1;
                  font-weight: 700;
                  color: $color-grey-light-1;
                  margin-bottom: 2.5rem;

                  // @media only screen and (max-width:$bp-larger) {
                  //    font-size: 6.5rem;
                  // }

                  // @media only screen and (max-width:$bp-big) {
                  //    font-size: 6rem;
                  //    margin-bottom: 1.5rem;
                  //    grid-row: 1/2;
                  // }

                  // @media only screen and (max-width:$bp-medium) {
                  //    font-size: 7rem;
                  //    margin-bottom: 2rem;
                  // }

                  // @media only screen and (max-width:$bp-small) {
                  //     font-size: 5.4rem;
                  // }
               }

               &-mini {
                  font-size: 2rem;
                  line-height: 1.2;
                  font-weight: 500;
                  color: $color-grey-light-2;

                  // @media only screen and (max-width:$bp-larger) {
                  //    font-size: 3.8rem;
                  // }

                  // @media only screen and (max-width:$bp-big) {
                  //    font-size: 3rem;
                  // }

                  // @media only screen and (max-width:$bp-medium) {
                  //    font-size: 3rem;
                  //    padding-bottom: 2rem;
                  // }

                  // @media only screen and (max-width:$bp-small) {
                  //    // font-size: 2.5rem;
                  //    font-weight: 400;
                  //    padding-bottom: 2rem;
                  // }
               }
            }

            &-btn {
               margin-top: 2rem;

               &-text {
                  font-size: 2rem;
                  font-weight: 500;
                  color: $color-grey-light-2;
                  margin: 1rem 0 2rem 0;

                  // @media only screen and (max-width:$bp-big) {
                  //    font-size: 2.2rem;
                  //    text-align: center;
                  //    margin: 2rem 0 1rem 0;
                  //    text-align: center;
                  //    display: grid;
                  //    justify-content: center;
                  // }

                  // @media only screen and (max-width:$bp-medium) {
                  //    font-size: 2.3rem;
                  //    font-weight: 400;
                  //    margin-bottom: 2rem;
                  // }

                  // @media only screen and (max-width:$bp-small) {
                  //    // font-size: 1.5rem;
                  // }
               }

               &-dark {
                  margin-right: 1.5rem;
               }
            }

            &-image {
               display: flex;
               align-items: center;
               justify-content: center;
               height: 90%;
               width: 90%;
               padding: 2rem;
               margin-top: 3rem;
               overflow: hidden;
               border-radius: 10px;

               // @media only screen and (max-width:$bp-big) {
               //    text-align: center;
               //    padding-top: 4rem;
               // }


               &_image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 10px;

                  //    @media only screen and (max-width:$bp-larger) {
                  //       height: 50%
                  //    }

                  //    @media only screen and (max-width:$bp-big) {
                  //       width: 80%;
                  //    }

                  //    @media only screen and (max-width:$bp-small) {
                  //       width: 100%;
                  //    }
                  // }
               }
            }

            .delivered-emails {
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 1.6rem;


               @media only screen and (max-width:$bp-big) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
               }

               .delivered-text {
                  font-size: 1.4rem;
                  font-weight: 600;
                  color: $color-secondary-light ;
                  margin-top: 1.5rem;

                  @media only screen and (max-width:$bp-larger) {
                     font-size: 1.5rem;
                  }

                  @media only screen and (max-width:$bp-big) {
                     font-size: 3rem;
                  }
               }

               .delivered-text span {
                  color: $color-grey-light-1;
                  font-weight: 700;
               }
            }
         }
      }

      .section-features {
         position: relative;
         padding: 6rem 3rem;
         height: max-content;
         background-color: $color-primary-50;

         .features-container {
            max-width: 120rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            gap: 2rem;
            justify-content: center;
            align-items: center;
         }

         .fill-space {
            position: absolute;
            top: -3rem;
            height: 3rem;
            max-width: 120rem;
            background-color: $color-primary-50;
            z-index: -9999;
         }

         &__cards {
            display: grid;
            // grid-template-columns: repeat(2, 50%);
            grid-template-columns: repeat(2, minmax(15rem, 1fr));
            grid-template-rows: repeat(2, 1fr);
            gap: 1.5rem;
            height: max-content;

            .feature-card {
               background-color: #fff;
               border-radius: 6px;
               box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
               box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
               padding: 4rem 1.5rem;
               text-align: center;
               display: flex;
               flex-direction: column;
               transition: all 0.3s ease;
               // height: 20rem;
               // justify-content: center;
               // max-width: 350px;

               &:hover {
                  // transform: translateY(-10px);
                  background-image: linear-gradient(to right, rgba($color-secondary-500, 0.93), rgba($color-secondary-700, 0.93)), url(/img/main-image-2.jpg);
                  background-size: cover;
                  background-position: center;
                  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

                  .feature-card__icon {
                     color: $color-grey-light-1;
                  }

                  .feature-card__title {
                     color: $color-grey-light-1;
                  }

                  .feature-card__text {
                     color: $color-grey-light-1;
                  }
               }

               &__icon {
                  font-size: 3rem;
                  color: $color-primary-600;
                  margin-bottom: 1.3rem;
                  transition: color 0.3s ease;
               }

               &__title {
                  font-size: 1.5rem;
                  color: #333;
                  margin-bottom: .8rem;
               }

               &__text {
                  font-size: 1.2rem;
                  color: #666;
               }
            }
         }

         &__texts {
            padding: 0 6rem;


            .feature-heading {
               font-size: 3.7rem;
               font-weight: 700;
               margin-bottom: 1.2rem;

               span {
                  color: $color-primary-900;
               }
            }

            .feature-subtext {
               font-size: 1.3rem;
               font-weight: 400;
            }
         }
      }

      .section-abouts {
         padding: 3rem 3rem;
         // background-color: $color-grey-light-1;
         background-color: #fffefe;
         height: max-content;

         .abouts-container {
            max-width: 120rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            gap: 2rem;
            justify-content: center;
            align-items: center;
         }

         &_image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            padding: .5rem 2rem;
            overflow: hidden;
            border-radius: 10px;

            // @media only screen and (max-width:$bp-big) {
            //    text-align: center;
            //    padding-top: 4rem;
            // }


            .about-image {
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: center;
               border-radius: 10px;

               //    @media only screen and (max-width:$bp-larger) {
               //       height: 50%
               //    }

               //    @media only screen and (max-width:$bp-big) {
               //       width: 80%;
               //    }

               //    @media only screen and (max-width:$bp-small) {
               //       width: 100%;
               //    }
               // }
            }

         }

         &__texts {
            padding: 0 6rem;

            .about-heading {
               font-size: 4.5rem;
               font-weight: 700;
               margin-bottom: 1.2rem;
            }

            .about-subtext {
               font-size: 1.3rem;
               font-weight: 400;
            }
         }
      }

      .section-testimonial {
         padding: 3rem 3rem;
         background-color: $color-secondary-100;
         height: max-content;

         .testimonial-container {
            max-width: 120rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            gap: 2rem;
            justify-content: center;
            align-items: center;
         }

         &__texts {
            padding: 0 6rem;

            .testimonial-heading {
               font-size: 4.5rem;
               font-weight: 700;
               margin-bottom: 1.2rem;
            }

            .testimonial-subtext {
               font-size: 1.3rem;
               font-weight: 400;
            }
         }
      }

      .section-footer {
         padding: 3rem 3rem;
         background-color: $color-secondary-900;
         color: white;
         height: max-content;

         .footer-container {
            max-width: 120rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 0 auto;
         }

         &__newsletter {
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            padding: 4rem 0;
            border-bottom: .1px solid white;

            .newsletter-text {
               width: 50%;

               .footer-heading {
                  font-size: 4.5rem;
                  font-weight: 700;
                  margin-bottom: 1.2rem;
               }

               .footer-subtext {
                  font-size: 1.3rem;
                  font-weight: 400;
               }
            }

            .newsletter-cta {
               width: 40%;

               &-container {
                  position: relative;
                  width: 100%;

                  .newsletter-cta_input {
                     margin: 0;
                     padding-right: 1rem;
                  }

                  .newsletter-btn {
                     position: absolute;
                     top: 50%;
                     right: 0.5rem;
                     transform: translateY(-50%);
                     padding: 0.5rem 2rem;
                     font-size: 1rem;
                     border: none;
                     background-color: $color-secondary-400;
                     color: #fff;
                     border-radius: 50px;
                     height: 80%;
                     cursor: pointer;
                  }

                  .newsletter-btn:hover {
                     background-color: #0056b3;
                  }
               }
            }
         }

         &_bottom {
            display: flex;
            justify-content: space-between;
            padding: 4rem 0;

            .footer-logo {
               height: 2rem;
            }

            .footer-bottom-section {
               display: flex;
               flex-direction: column;

               .footer-subHeader {
                  font-size: 1.8rem;
                  font-size: 500;
                  text-transform: uppercase;
                  margin-bottom: 2rem;
               }


               .footer-icon_links,
               .footer-links {
                  display: flex;
                  align-items: center;
                  gap: 1rem;

                  &:not(:last-child) {
                     margin-bottom: 1.2rem;
                  }

                  .link-icon {
                     font-size: 1.4rem;

                  }

                  .link-item {
                     font-size: 1.2rem;
                     text-transform: uppercase;
                     color: white;
                     cursor: pointer;
                  }
               }

               .footer-links {
                  font-size: 1.5rem;
                  text-transform: uppercase;
               }

               .footer-socials {
                  display: grid;
                  font-size: 3rem;
                  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
                  gap: 2rem;
                  justify-content: center;
                  align-items: center;
                  height: max-content;

                  .social-icon {
                     transition: all .3s ease;

                     &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }
   }
}