.initial-navigation {
   display: flex;
}

.sticky-nav {
   position: fixed !important;
   top: 0 !important;
   left: 0 !important;
   right: 0 !important;
   width: 100% !important;
   max-width: 100% !important;
   height: 7rem !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   background-color: rgba($color-primary-50, 0.7) !important;
   backdrop-filter: blur(5px);
   box-shadow: 0 1.2rem 3.2rem rgba($color-primary-400, 0.2) !important;
   border-radius: 0 !important;

   @media only screen and (max-width:$bp-larger) {
      height: 6rem !important;
   }

   @media only screen and (max-width:$bp-big) {
      height: 5rem !important;
   }
}

.navigation-header {
   position: absolute;
   top: 2rem;
   left: 0;
   right: 0;
   z-index: 9999999;
   background-color: $color-primary-50;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 7rem;
   max-width: 100rem;
   width: 80%;
   padding: 2rem;
   border-radius: 5px;
   margin: 0 auto;
   transition: all 0.3s ease;

   @media only screen and (max-width:$bp-larger) {
      width: 90%;
      height: 6rem;
      padding: 1.5rem;

   }

   @media only screen and (max-width:$bp-big) {
      width: 80%;
      height: 5rem;
      padding: 1rem;
   }

   .logo {
      height: 3.5rem;


      @media only screen and (max-width:$bp-big) {
         height: 2.2rem;
      }
   }

   .main-nav-list {
      list-style: none;
      display: flex;
      gap: 1rem;
      align-items: center;

      .button-group {
         display: flex;
         align-items: center;
         gap: 1rem;
      }
   }

   .main-nav-link:link,
   .main-nav-link:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-primary-600;
      font-weight: 600;
      font-size: 1.6rem;
      padding: 1rem;

      &::before {
         position: absolute;
         bottom: 0;
         left: 0;
         display: block;
         content: '';
         height: 1px;
         width: 0px;
         background-color: $color-grey-light-1;
      }

      @media only screen and (max-width:$bp-big) {
         font-size: 2rem;
      }
   }

   .main-nav-link:hover,
   .main-nav-link:active {
      padding: .5rem 1rem;
      box-shadow: inset 0 0 0 1px $color-primary;
      border-radius: 5px;
   }

   .button-group {

      @media only screen and (max-width:$bp-big) {
         flex-direction: column;
         gap: 2rem;
      }

      .hero-btn-dark {
         font-size: 1.2rem;
         padding: 1rem 1.5rem;
         margin-right: 0;
         width: max-content;

         @media only screen and (max-width:$bp-big) {
            font-size: 1.5rem;

            margin: 1rem 0;
         }
      }
   }
}