.sidebar {
   grid-column: sidebar-start / sidebar-end;
   grid-row: rowOne-start / rowTwo-end;
   overflow-y: auto;
   height: auto;
   width: 100%;
   background-color: $color-primary;
   color: $color-primary-light-1;
   padding: 2rem 0;
   display: flex;
   flex-direction: column;
   position: relative;
   box-shadow: rgba($color-primary, 0.5) 2px 0px 7px;
   z-index: 9999;

   @media only screen and (max-width:$bp-big) {
      // grid-row: rowTwo-start/ rowTwo-end;
      // grid-column: main-start / main-end;
      padding: 0 0 2rem 0;
      flex-direction: row;
      position: fixed;
      bottom: 0;
   }

   &-fixed {
      position: fixed;

      @media only screen and (max-width:$bp-big) {
         position: relative;
         display: flex;
         justify-content: space-evenly;
      }
   }

   &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      padding: 1rem 0;

      @media only screen and (max-width:$bp-big) {
         display: none;
      }

      &-link {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 1rem;
         text-decoration: none;
      }

      &-logo {
         width: 4rem;
         height: 4rem;
      }

      span {
         font-size: 4rem;
         font-weight: 600;
         color: $color-secondary-dark;
         display: flex;
         align-items: center;
      }
   }

   .side-nav {
      font-size: 2rem;
      list-style: none;
      margin-top: 1rem;
      border-bottom: .5px solid $color-primary-light;

      @media only screen and (max-width:$bp-big) {
         font-size: 1.8rem;
      }

      @media only screen and (max-width:$bp-small) {
         font-size: 1.5rem;
      }

      @media only screen and (max-width:$bp-small-extra) {
         // font-size: 1.3rem;
      }

      &_item {
         background-image: linear-gradient($color-secondary-dark 0 0);
         padding: 1rem 1.5rem;
         color: $color-secondary-dark;
         font-weight: 700;
         background-size: 200% .3rem;
         background-position: 200% 100%;
         background-repeat: no-repeat;
         transition: background-size .3s, background-position .3s .3s;

         @media only screen and (max-width:$bp-big) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 1rem;
         }

         @media only screen and (max-width:$bp-small-extra) {
            padding: .3rem;
         }

         .simReg-long {
            @media only screen and (max-width:$bp-small) {
               display: none;
            }
         }

         .simReg-short {
            display: none;

            @media only screen and (max-width:$bp-small) {
               display: block;
               width: max-content;
               // padding: 0;
            }
         }

         &.active {
            color: $color-primary-light-1;
            background-color: $color-secondary-dark;
         }
      }

      &_item:hover {
         transition: background-size .3s .3s, background-position .3s;
         background-size: 200% 100%;
         background-position: 100% 100%;
         color: $color-primary-light-1;
      }


      &_link {

         &:link,
         &:visited {
            color: white;
            text-decoration: none;

            .icon {
               margin-right: 1rem;

               @media only screen and (max-width:$bp-small) {
                  margin-right: .5rem;
               }
            }
         }
      }
   }
}