.simReg {
   height: min-content;
   color: $color-secondary-dark;

   &-method {
      margin: 0 auto;
      padding: 1rem 2rem;
      overflow: hidden;

      &-form {

         &_input {
            margin-top: 2rem;
         }

         .hero-btn-dark {
            margin-top: 3rem;
         }
      }

   }

   .hero-btn-dark {
      display: inline;
      margin-top: 3rem;
      align-self: center;
      padding: 1rem 3rem;
   }
}